body {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(-45deg, #ff9a9e, #fad0c4, #fad0c4, #fbc2eb);
  background-size: 400% 400%;
  animation: gradientBG 15s ease infinite;
  color: #333;
}

@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}